

// style rates stars in datatable
.wrapper-rates-stars {
    display: inline-block;
    .star {
        display: inline-block;
        font-size: 16px;
        margin-right: -4px;
        margin: 0 1px;
        color: #f39c12;
    }
}


// pages header
.title-page {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 20px;
}
.btns-route-wrapper {
    display: inline-block;
    .back-route {
        padding: {
            left: 15px;
            right: 15px;
        }
        margin: 0 5px;
    }
}
