// style main sidebar

.main-sidebar {
    font-size: 13px;
    #nav-sidebar-global {
        &.nav-sidebar {
            > .nav-item {
                margin-bottom: 5px;
            }
            .nav-link {
                padding: {
                    top: 0.4rem;
                    bottom: 0.4rem;
                }
                p > .right {
                    top: 11px;
                }
            }
        }
    }
}


// pages header
.title-page {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 20px;
    font-size: 18px;
    margin: 0 !important;
}
.btns-route-wrapper {
    display: inline-block;
    .back-route {
        padding: {
            left: 10px;
            right: 10px;
        }
        font-size: 10px;
        margin: 0 5px;
    }
}


// product profile

.proudct-profile-wrapper {
    .product-image {
        max-width: 100%;
        width: auto;
        max-height: 230px;
        margin-bottom: 10px !important;
    }

    .actions-product-profile {
        margin-bottom: 20px;
    }

    .table-show-details {
        text-align: center;

        td {
            word-break: break-word !important;
        }
        .th-display {
            width: 75px;
        }
        .td-display {
            font-size: 16px;
        }
    }
}

.disabled, [disabled="disabled"] {
    pointer-events: none;
    color: #212529;
    cursor: auto;
}
